apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-admin-credentials
  namespace: grafana
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-backend
    kind: ClusterSecretStore
  target:
    name: grafana-admin-credentials
    template:
      type: Opaque
  data:
    - secretKey: admin-user
      remoteRef:
        key: grafana-admin-user  # The name in Azure for the admin user
    - secretKey: admin-password
      remoteRef:
        key: grafana-admin-password   # The name in Azure for admin password

---

# This could be replaced by a Managed Identity pattern.  As of this writing, it's still in Preview, going for the pattern that I know it works.
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-oauth-secrets
  namespace: grafana
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: azure-backend
    kind: ClusterSecretStore
  target:
    name: grafana-oauth-secrets
    template:
      type: Opaque
  data:
    - secretKey: GF_AUTH_AZUREAD_CLIENT_AUTHENTICATION
      remoteRef:
        key: GF-AUTH-AZUREAD-CLIENT-AUTHENTICATION # The name of the secret in Azure vault
    - secretKey: GF_AUTH_AZUREAD_CLIENT_ID
      remoteRef:
        key: GF-AUTH-AZUREAD-CLIENT-ID # The name of the secret in Azure vault
    - secretKey: GF_AUTH_AZUREAD_CLIENT_SECRET
      remoteRef:
        key: GF-AUTH-AZUREAD-CLIENT-SECRET # The name of the secret in Azure vault
